.group {
  position: relative;
  margin: 45px 0;
}
.group .form-input {
  background: white none;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid grey;
  margin: 15px 0;
}
.group .form-input:focus {
  outline: none;
}
.group .form-input:focus ~ .form-input-label {
  top: -14px;
  font-size: 12px;
  color: black;
}
.group input[type='password'] {
  letter-spacing: 0.4em;
}
.group .form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}
.group .form-input-label.shrink {
  top: -14px;
  font-size: 12px;
  color: black;
}
