body{
    font-family: 'Poppins';
    font-weight: bold;
    user-select: none;
    margin: 10px;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
*{
    box-sizing: border-box;
}