.input{
    display: flex;
}

.thotSearch{
    height: 33px;
    width: 300px;
    border: none;
    background-color: #202327;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px 5px 5px 0px;
    border-radius: 0 40px 40px 0;
    font-size: 15px;
    color: white;
}

.thotSearch:focus{
    outline: none;
}

.searchicon{
    background-color: #202327;
    padding: 8px;
    margin: 5px 0 5px 5px;
    width: 29px;
    height: 40px;
    border-radius: 40px 0 0 40px;
}


input::placeholder{
    font-size: 15px;
    color: #71767b;
}

.trendingsection{
    width: 329px;
    height: 500px;
    background-color: #202327;
    border-radius: 18px;
    border: none;
    box-sizing: border-box;
    margin-top: 12px;
    margin-left: 4px;
    padding: 10px;
    color: white;
}

.trendingheader{
    margin: 0 0 15px 5px;
    cursor: text;
}

.trendiv{
    margin: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
}